.vscode
logs

latex/main.aux
latex/main.bbl
latex/main.blg
latex/main.fdb_latexmk
latex/main.fls
latex/main.glo
latex/main.log
latex/main.out
latex/main.pdf
latex/main.toc
latex/_minted-main
latex/main.synctex.gz
